.weather {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.weather__title {
  margin-bottom: 10px;
}

.weather__hotel {
  background-color: #fff;
  color: #333;
  padding: 5px;
}
.weather__hotel:not(:last-child) {
  margin-bottom: 5px;
}
