.awesome-features {
  background-color: lightgray;
  padding: 100px 50px;

  text-align: center;
}
.awesome-features__sub-title {
  margin-bottom: 15px;
  color: rgb(218, 55, 26);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.awesome-features__title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: normal;
}

.awesome-features__feature-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.awesome-features__feature {
  margin: 0 20px;
}

@media screen and (max-width: 1200px) {
  .awesome-features__feature-list {
    flex-direction: column;
  }
  .awesome-features__feature:not(:last-child) {
    margin-bottom: 30px;
  }
}
