:host {
  display: inline-block;
  width: 300px;
  background-color: #333;
  padding: 5px;

  color: #fff;
}

.hotel {
  &.hotel--detailed {
    color: rgb(214, 20, 20);
  }
  
  &.hotel--custom {
    font-size: 32px;
  }

  &__name {
    cursor: pointer;
  }
}
