:host {
  display: block;
  height: 100%;
}

.hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  &__hotel-detailed {
    margin-left: 20px;
    flex: 1;
  }

  &__hotel {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__new-hotel {
    &.disabled {
      border-color: red;
      outline-color: red;
    }
  }
}
